<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="icon"
        href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%20100%20100%22%3E%3Ctext%20x%3D%2250%25%22%20y%3D%2250%25%22%20style%3D%22dominant-baseline%3Acentral%3Btext-anchor%3Amiddle%3Bfont-size%3A90px%3B%22%3E%26%23x1F3A5%3B%3C/text%3E%3C/svg%3E">
    <title>youtube umekomi</title>
    <link rel="stylesheet" type="text/css" href="./almond.lite.css">
    <style>
        input {
            width: 400px;
        }

        .done::after {
            content: "\2714";
            color: yellow;
            font-weight: bold;
        }

        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <input type="text" v-model="url" v-focus placeholder="https://www.youtube.com/watch?v=XXXXXXXXXXX">
        <div v-if="isSearched">
            <p><img :src="thumbnailUrl(true)" alt=""></p>
            <button @click="copyMaxRes" :class="{done:copiedMaxRes}">埋め込みコードをコピーする</button>
            <pre><code>{{embeddableFull}}</code></pre>
            <hr>
        </div>
        <div v-if="isSearched">
            <p><img :src="thumbnailUrl(false)" alt=""></p>
            <button @click="copyHq" :class="{done:copiedHq}">埋め込みコードをコピーする</button>
            <pre><code>{{embeddableSmall}}</code></pre>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script>


        const vm = Vue.createApp({
            data: function () {
                return {
                    url: "https://www.youtube.com/watch?v=DheZHcwJ6OA",
                    copiedMaxRes: false,
                    copiedHq: false
                }
            },
            computed: {
                isSearched: function () {
                    return this.url.length > 0;
                },
                embedMarkup: function () {
                    return function (src, isFull) {
                        return [
                            `<div class="youtube" data-video="https://www.youtube.com/embed/${this.movieId}">`,
                            `<img src="${this.thumbnailUrl(isFull)}" alt="" width="100%"/>`,
                            `</div>`
                        ].join("\n");
                    }
                },
                movieId: function () {
                    return this.url.replace(/^.+watch\?v=/, "").substr(0, 11);
                },
                thumbnailUrl: function () {
                    return function (isFull) {
                        const name = (isFull) ? "maxresdefault" : "hqdefault";
                        return `https://img.youtube.com/vi/${this.movieId}/${name}.jpg`;
                    }
                },
                embeddableFull: function () {
                    return this.embedMarkup(this.movieId, true);
                },
                embeddableSmall: function () {
                    return this.embedMarkup(this.movieId, false);
                },
            },
            methods: {
                copyMaxRes: function () {
                    navigator.clipboard.writeText(this.embeddableFull.replace(/&amp;/g, "&"));
                    this.copiedMaxRes = true;
                },
                copyHq: function () {
                    navigator.clipboard.writeText(this.embeddableSmall.replace(/&amp;/g, "&"));
                    this.copiedHq = true;
                }
            },
            watch: {
                url: function () {
                    this.copiedMaxRes = false;
                    this.copiedHq = false;
                }
            },
            directives: {
                focus: {
                    mounted: function (el) {
                        el.select();
                    }
                }
            }
        }).mount("#app");
    </script>
</body>

</html>